@font-face {
  font-family: "exo";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Exo2-Medium.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'exo', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #151d24;
  }
}
